./web_client/assets/sleepi_tib.png
**/target/
target/
# Ignore all config files regardless of capitalization or directory
*[cC][oO][nN][fF][iI][gG].[jJ][sS][oO][nN]
**/*[cC][oO][nN][fF][iI][gG].[jJ][sS][oO][nN]
*[cC][oO][nN][fF][iI][gG]*.json
**/*[cC][oO][nN][fF][iI][gG]*.json

.env
.env.*

